.black{
  background-color: black;
}
.white{
  background-color: white;
}
.sun{
  background-color: #ffdd00;
  border: 10px solid #f1c40f;
  transition-duration: 0.09s;
  transition-timing-function: ease-in-out;
  &:hover{
    border: 20px solid #f1c40f;
  }
}
.moon{
  background-color: #bdc3c7;
  border: 10px solid #eaeff2;
  transition-duration: 0.09s;
  transition-timing-function: ease-in-out;
  &:hover{
    border: 20px solid #eaeff2;
  }
}
.day {
    background-color: #37d8e6;
}
.night {
    background-color: #2c3e50;
}
